h1 {
    color: yellow;
    font-weight: bold;
    border-color: black;
}
    .navbar-light .navbar-brand{
    color: yellow
}

tr {
    color: yellow
}
.jumbotron {
    background-image: url(tdgarden.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.logo {height: 150px;}


body {
    background-color: black;
}
